pkgbase = dummypkg-git
	pkgdesc = A utility to generate and install dummy packages in pacman
	pkgver = r16.gcf71c49
	pkgrel = 1
	url = https://github.com/Theluga/dummypkg
	arch = any
	license = GPL-3.0-or-later
	makedepends = git
	depends = bash
	depends = pacman
	optdepends = sudo: privilege escalation
	optdepends = doas: privilege escalation
	optdepends = systemd: run0 privilege escalation
	provides = dummypkg=r16.gcf71c49
	conflicts = dummypkg
	source = git+https://github.com/Theluga/dummypkg.git
	sha256sums = SKIP

pkgname = dummypkg-git
